.App {
  text-align: center;
  background-color: lightskyblue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  width: 400px;
  padding: 16px;
  border: 1px solid white;
  background-color: dodgerblue;
}

.main {
  background-color: lightblue;
}
.weather-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 780px;
  max-width: 100%;
  padding: 36px;
  border: 5px solid white;
  background-color: lightskyblue;
}


.wrapper {
  padding: 5px 20px;
  background-color: lightskyblue;
}

.wrapper fieldset {
  margin: 60px 0;
}



/* Taking out the following:

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 

*/
